<li class="<%= todo.completed ? 'completed' : '' %>" data-behavior="begin_editing_on_dblclick">
  <div class="view">
    <%= check_box_tag "", "", todo.completed, class: "toggle", data: { params: "todo[completed]=#{!todo.completed}", url: todo_url(todo), remote: true, method: :patch } %>
    <label><%= todo.text %></label>
    <%= form_for todo, remote: true, method: :delete do |f| %>
      <%= button_tag "", class: "destroy" %>
    <% end %>
  </div>
  <%= form_for todo, remote: true do |f| %>
    <%= f.text_field :text, class: "edit", "data-behavior": "submit_on_blur end_editing_on_esc"  %>
  <% end %>
</li>
