<section class="todoapp">
  <header class="header">
    <h1>todos</h1>
    <%= form_for Todo.new, remote: true do |f| %>
      <%= f.text_field :text, class: "new-todo", placeholder: "What needs to be done?", autofocus: true %>
    <% end %>
  </header>
  <% if @todos.present? || filter_params.present? %>
    <section class="main">
      <%= check_box_tag "", "", @todos.all?(&:completed), class: "toggle-all", data: { params: "todo[completed]=#{!@todos.all?(&:completed)}", url: update_many_todos_url, remote: true, method: :patch } %>
      <label for="toggle-all">Mark all as complete</label>
      <ul class="todo-list">
        <%= render @todos %>
      </ul>
    </section>
    <footer class="footer">
      <span class="todo-count"><strong><%= pluralize @todos.reject(&:completed).count, "item" %></strong> left</span>
      <ul class="filters">
        <li><%= link_to 'All', '/', class: filter_link_class('/') %></li>
        <li><%= link_to 'Active', '/?filter=active', class: filter_link_class('/?filter=active') %></li>
        <li><%= link_to 'Completed', '/?filter=completed', class: filter_link_class('/?filter=completed') %></li>
      </ul>
      <% if @todos.any?(&:completed) %>
        <%= form_tag destroy_many_todos_url, remote: true, method: :delete do |f| %>
          <% @todos.select(&:completed).map do |todo| %>
            <%= hidden_field_tag "ids[]", todo.id  %>
          <% end %>
          <%= button_tag "Clear completed", class: "clear-completed" %>
        <% end %>
      <% end %>
    </footer>
  <% end %>
</section>
